node_modules/
.pnpm-store/

dist/
dist-ssr/
*.tsbuildinfo

.turbo/

.env*
!.env.template

logs/
*.log
*-debug.log*
*-error.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.swp
*.swo
*.sw?
*~

*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

coverage/

*.local
